spring:
  security:
    user:
      name: admin
      password: password
  jpa:
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:mysql://localhost:3306/decisionsciences
    username: root
    password: password
    driverClassName: com.mysql.cj.jdbc.Driver

server:
  port: 9000

